.Aidrops {
    display: flex;
    flex-direction: column;
    /*background-color: #FAE4E3;*/
    background-color: white;
    flex-wrap: wrap;
    height: 650px;
}

.AidropPools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
