.Coin {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    background-color: #F5DBD7;
    border-radius: 30px;
    margin-bottom: 10px;
}

.CoinName {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
