.DistributionTabInfo {
    width: 100%;
    height: fit-content;
    background-color: #FDF1EE;
    border-radius: 30px;
    display: flex;
    margin-top: 20px;
}

.DistributionTabInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.DistributionTabInfoText p{
    color: #C2866C;
    margin: 0;
    padding: 10px;
}

.DistributionTabInfoText h3 {
    margin: 0;
    padding: 10px;
}

@media only screen and (max-width: 720px) {
    .DistributionTabInfo {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 25px;
    }
}

