.Pool {
    height: 360px;
    width: 310px;
    border-radius: 30px;

    display: inline-block;
    position: relative;

}

.picture {
    height: 360px;
    width: 310px;
    border-radius: 30px;
}

.SelectButton {
    position:absolute;
    bottom: 50px;
    left: 20%;

}
